.colorsToChooseFrom {
  border-radius: 50%;
  margin: 4px 2px;
  height: 100px;
  width: 100px;
}

.statRows {
  background-color: black;
  color: white;
}

.congratsText {
  font-size: 40px;
}

.App {
  text-align: center;
}
